.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden; }

.maincontent {
  height: 100%;
  min-height: 40.625rem; }

.container {
  width: 100%;
  max-width: 58.75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100%;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.order-link {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #cb411b; }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

html, body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.best {
  background-image: url("../img/background second.jpg");
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.section__title--best {
  color: #2f3234;
  padding: 0;
  margin-bottom: 3.75rem;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 0; }

.best-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5.6875rem; }
  @media screen and (max-width: 480px) {
    .best-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.best-list__title {
  font-family: 'Lifehack';
  font-size: 24px;
  font-weight: 400;
  text-align: center; }

.best-list__text {
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42;
  color: #828180;
  text-align: center; }

.container {
  margin-bottom: 5.625rem; }

.best-list__elem {
  text-align: center; }

.icon-meat {
  width: 6.25rem;
  height: 6.25rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  fill: #e25028; }

.icon-hand {
  width: 6.25rem;
  height: 6.25rem;
  fill: #f8b845; }

.icon-natural {
  width: 6.25rem;
  height: 6.25rem;
  fill: #8ac03e; }

.best-list {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 33%;
  -ms-flex: 1 1 33%;
  flex: 1 1 33%; }

.best-list__item {
  width: 33%; }
  @media screen and (max-width: 480px) {
    .best-list__item {
      width: 100%; } }

.hero {
  background-image: url("../img/background first.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.625rem;
  padding-left: 0.625rem; }

.header__logo {
  margin-right: auto; }

.nav {
  margin-right: 0.9375rem; }

.nav__list {
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 768px) {
    .nav__list {
      display: none; } }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 0.75rem; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.header__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 32px; }

.hamburger__menu-link {
  background-repeat: no-repeat;
  width: 24px;
  height: 26px;
  display: none;
  padding-left: 20px;
  margin-top: 5px; }
  @media screen and (max-width: 768px) {
    .hamburger__menu-link {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  @media screen and (max-width: 768px) {
    .hero__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.hero__img, .hero__description {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .hero__img, .hero__description {
      width: 80%; } }

@media screen and (max-width: 768px) {
  .hero__img {
    padding-left: 145px; } }

@media screen and (max-width: 480px) {
  .hero__img {
    padding-left: 0; } }

.hero__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 5rem; }
  @media screen and (max-width: 768px) {
    .hero__description {
      padding-top: 0;
      text-align: center;
      padding-left: 145px; } }
  @media screen and (max-width: 480px) {
    .hero__description {
      padding-left: 20px; } }

.section__title--hero {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 3.75rem; }
  @media screen and (max-width: 768px) {
    .section__title--hero {
      padding-top: 0; } }
  @media screen and (max-width: 480px) {
    .section__title--hero {
      padding-left: 40px; } }

.hero__description-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 4.0625rem;
  font-weight: 500;
  line-height: 1; }

.burger-section {
  background-image: url("../img/background third.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.arrow {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.team {
  background: url("../img/background fourth.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 60px; }
  @media screen and (max-width: 768px) {
    .section__title {
      padding-top: 0; } }

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93);
  padding-left: 4.375rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 3.125rem; }
  @media screen and (max-width: 768px) {
    .team__container {
      width: 100%; } }

.team-accordeon_trigger {
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .team-accordeon_trigger:before {
    height: 0;
    width: 0;
    border: 9px solid transparent;
    border-top-color: #f8b43a;
    border-bottom-width: 0px;
    content: "";
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.team-accordeon__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: none; }

.team-accordeon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.team-accordeon__pic-image {
  border-radius: 50%;
  width: 6.1875rem;
  height: 6.1875rem; }

.team-accordeon__text {
  color: #ffffff; }

.accordeon__text-content {
  margin: 0; }

.team-accordeon__item-active .team-accordeon_trigger {
  color: #f8b43a; }
  .team-accordeon__item-active .team-accordeon_trigger:before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); }

.team-accordeon__item-active .team-accordeon__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

@media screen and (max-width: 768px) {
  .team-accordeon__item {
    text-align: center;
    display: inline-block; } }

.menu {
  background-image: url("../img/background fifth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative; }

.section__title--menu {
  position: absolute;
  left: 4%;
  top: 5%;
  color: #ffffff; }

.menu__list {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu__trigger {
  width: 5rem;
  background-repeat: no-repeat;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu__trigger--first {
  background-image: url("../img/menu accordeon fisrt.jpg");
  position: relative;
  text-decoration: none; }

.menu__trigger--second {
  background-image: url("../img/menu accordeon second.jpg");
  position: relative;
  text-decoration: none; }

.menu__trigger--third {
  background-image: url("../img/menu accordeon third.jpg");
  position: relative;
  text-decoration: none; }

.menu__trigger--text {
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-family: 'Gagalin';
  font-size: 2.5rem;
  width: 5rem;
  top: 60%;
  white-space: nowrap; }
  @media screen and (max-width: 768px) {
    .menu__trigger--text {
      top: 83%; } }

.menu__item--active .menu__content {
  display: block;
  width: 31.25rem; }
  @media screen and (max-width: 768px) {
    .menu__item--active .menu__content {
      display: none; } }

.menu__content {
  background: rgba(47, 50, 52, 0.93);
  padding: 3.75rem 2.1875rem;
  display: none; }

.menu__content-text {
  width: 100%;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 200;
  line-height: 1.5rem; }

.reviews__list {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  -webkit-filter: grayscale(100);
  filter: grayscale(100); }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }
  .reviews__item:hover .reviews__hover {
    opacity: 1; }

.reviews__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(69, 69, 69, 0.7);
  opacity: 0;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
  padding: 17% 7%; }
  @media screen and (max-width: 768px) {
    .reviews__hover {
      padding: 0; } }

.reviews__hover--title {
  color: #ffffff;
  font-family: 'Gagalin';
  font-size: 0.875rem; }
  @media screen and (max-width: 768px) {
    .reviews__hover--title {
      text-align: center; } }

.reviews__hover--text {
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  font-weight: 300;
  color: #ffffff; }
  @media screen and (max-width: 768px) {
    .reviews__hover--text {
      text-align: center; } }

.reviews__hover--btn-text {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 5px;
  background-color: #2f3234;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.reviews__hover--btn-text:hover {
  background-color: #1f2122; }

@media screen and (max-width: 768px) {
  .reviews__hover--btn {
    text-align: center; } }

.order {
  background-image: url("../img/background sixth.jpg");
  background-size: cover;
  background-position: center bottom; }

.form {
  margin-top: 5.3125rem; }
  @media screen and (max-width: 480px) {
    .form {
      width: 158%;
      margin-top: 1.3125rem; } }

.form__block-title {
  color: #ffffff;
  margin-bottom: 0.3125rem;
  font-size: 0.875rem; }

.form__content {
  width: 49%;
  margin-right: 1.25rem; }
  @media screen and (max-width: 768px) {
    .form__content {
      width: 100%;
      padding: 0 20%; } }

.form__input {
  border: none;
  border-radius: 5px;
  padding: 0.3125rem;
  width: 100%; }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem; }

.form__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__elem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form__elem {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.form__radio {
  margin-right: 1.25rem; }

.form__textarea {
  border-radius: 5px;
  height: 6.875rem;
  width: 100%;
  border: none;
  resize: none; }

.form__controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.form__controls {
  margin-top: 0.625rem; }

.form__controls-elem {
  margin-right: 1.25rem; }

.form__radio-text {
  color: #eaeaea;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Ubuntu';
  font-size: 0.875rem; }

.order-link-clean {
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42; }

@media screen and (max-width: 480px) {
  .section__title {
    text-align: center;
    padding-top: 50px; } }

.mape {
  background-image: url("../img/map-marker.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.footer {
  background-image: url("../img/footer.jpg");
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-size: cover; }

.footer__img {
  width: 100%;
  height: 3.6875rem; }

.footer-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.footer__text {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #ffffff;
  font-size: 0.875rem;
  margin: 0;
  padding-left: 5.125rem;
  padding-top: 0.625rem;
  width: 83%; }
  @media screen and (max-width: 768px) {
    .footer__text {
      width: 70%; } }
  @media screen and (max-width: 480px) {
    .footer__text {
      width: 60%; } }

.social-media {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.phone__icon {
  width: 1.4375rem;
  height: 0.9375rem; }

.phone__icon--svg {
  fill: #e45028; }

.phone-number {
  color: #e45028;
  font-size: 0.875rem;
  font-weight: bold;
  padding-top: 0.75rem;
  padding-bottom: 0.625rem; }

.social-media__icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.625rem;
  margin-top: 1.5625rem; }

.social-media__icon--svg {
  fill: #5a5a5a; }

.social-media__icon--svg:hover {
  fill: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
