.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }

.maincontent {
  height: 100vh;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  will-change: transform;
  min-height: 550px; }

.container {
  position: relative;
  max-width: 58.75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.order-link {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #cb411b; }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

html, body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.best {
  background-image: url("../img/background second.jpg");
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section__title--best {
  color: #2f3234;
  padding: 0;
  margin-bottom: 3.75rem;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 0; }
  @media screen and (max-width: 480px) {
    .section__title--best {
      font-size: 50px; } }

.best-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5.6875rem; }
  @media screen and (max-width: 480px) {
    .best-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 0; } }

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.best-list__title {
  font-family: 'Lifehack';
  font-size: 24px;
  font-weight: 400;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .best-list__title {
      font-size: 20px; } }

.best-list__text {
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42;
  color: #828180;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .best-list__text {
      font-size: 12px; } }

.best-list__elem {
  text-align: center; }

.icon-meat {
  width: 6.25rem;
  height: 6.25rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  fill: #e25028; }

.icon-hand {
  width: 6.25rem;
  height: 6.25rem;
  fill: #f8b845; }

.icon-natural {
  width: 6.25rem;
  height: 6.25rem;
  fill: #8ac03e; }

.best-list {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33%;
  flex: 1 1 33%; }
  @media screen and (max-width: 480px) {
    .best-list {
      margin-left: 10px; } }

.best-list__item {
  width: 33%; }
  @media screen and (max-width: 480px) {
    .best-list__item {
      width: 100%; } }

@media screen and (max-width: 480px) {
  .best-list__elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.best-list__text-elem {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 480px) {
    .best-list__text-elem {
      width: 70%;
      margin-left: 10px; } }

.container {
  width: 100%; }

.hero {
  background-image: url("../img/background first.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.625rem;
  padding-left: 0.625rem; }

.logo__img {
  z-index: 100; }

.header__logo {
  margin-right: auto; }

.nav {
  margin-right: 0.9375rem; }

.nav__list {
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 768px) {
    .nav__list {
      display: none; } }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 0.75rem; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .header__btn {
      margin-right: 40px; } }
  @media screen and (max-width: 480px) {
    .header__btn {
      margin-right: 40px; } }

.hamburger__menu-link {
  background-repeat: no-repeat;
  width: 24px;
  height: 26px;
  display: none;
  padding-left: 20px;
  margin-top: 5px; }
  @media screen and (max-width: 768px) {
    .hamburger__menu-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .hero__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.hero__description {
  width: 50%; }

.hero__img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 350px;
  -o-object-fit: contain;
  object-fit: contain; }
  @media screen and (max-width: 768px) {
    .hero__img {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      height: 50%; } }
  @media screen and (max-width: 480px) {
    .hero__img {
      padding-left: 0;
      display: inline-block;
      width: 70%; } }

.hero__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .hero__description {
      padding-top: 0;
      text-align: center;
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .hero__description {
      text-align: center;
      width: 100%; } }

.section__title--hero {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 3.75rem; }
  @media screen and (max-width: 768px) {
    .section__title--hero {
      padding-top: 0; } }
  @media screen and (max-width: 480px) {
    .section__title--hero {
      padding-left: 12px;
      white-space: nowrap;
      font-size: 3.5rem; } }

.hero__description-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 4.0625rem;
  font-weight: 500;
  line-height: 1; }
  @media screen and (max-width: 480px) {
    .hero__description-text {
      font-size: 3.0625rem; } }

.fixed-menu {
  position: fixed;
  top: 5.625rem;
  right: 2.5rem; }
  @media screen and (max-width: 768px) {
    .fixed-menu {
      display: none; } }

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  display: block;
  position: relative; }
  .fixed-menu__link:after, .fixed-menu__link:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%; }
  .fixed-menu__link:after {
    width: 0.375rem;
    height: 0.375rem;
    background: #fff; }
  .fixed-menu__link:before {
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    border: 0.0625rem solid #fff;
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .fixed-menu__link:hover:before {
    width: 0.875rem;
    height: 0.875rem;
    opacity: 1; }

.fixed-menu__item.active .fixed-menu__link:before {
  width: 0.875rem;
  height: 0.875rem;
  opacity: 1; }

.fixed-menu__item {
  margin-bottom: 0.3125rem; }

.mobile-menu {
  min-width: 320px;
  position: absolute;
  background: #2f3234;
  top: 0;
  width: 100%;
  -webkit-transition: opacity .35s, height .35s;
  -o-transition: opacity .35s, height .35s;
  transition: opacity .35s, height .35s;
  visibility: hidden; }

.mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
  margin-top: 40px; }

.mobile-menu__link {
  font-family: 'Ubuntu';
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none; }

.mobile-menu-active {
  opacity: .99;
  visibility: visible;
  height: 100%; }

.mobile-menu__link::after {
  margin: 0 auto;
  display: block;
  content: ' ';
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px; }

.mobile-menu--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.mobile-menu__btn {
  margin-right: 22px; }

.burger-section {
  background-image: url("../img/background third.jpg");
  background-size: cover;
  background-position: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.burger__container {
  width: 100%; }

.burger__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .burger__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.arrow__link {
  position: static;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.arrow-scroll {
  fill: #ffffff; }

.arrow__link-icon--left {
  width: 26px;
  height: 33px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.arrow__link-icon--right {
  width: 26px;
  height: 33px;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.burger__content-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .burger__content-elem {
      width: 100%; } }

.content__image {
  width: 90px;
  height: 90px;
  border-radius: 5px; }

.content__image-top {
  background-color: #f08c33; }

.content__icon {
  height: 65px;
  fill: #ffffff;
  width: 100%;
  padding-top: 10px; }

.content__icon-text {
  font-family: 'Gagalin';
  font-size: 14px;
  color: #ffffff;
  text-align: center; }

.burger__content-elem--title {
  font-family: 'Gagalin';
  color: #ffffff;
  font-size: 72px;
  line-height: 1; }
  @media screen and (max-width: 768px) {
    .burger__content-elem--title {
      font-size: 55px; } }
  @media screen and (max-width: 480px) {
    .burger__content-elem--title {
      font-size: 40px; } }

.burger__content-elem-right {
  width: 40%; }
  @media screen and (max-width: 768px) {
    .burger__content-elem-right {
      width: 95%;
      text-align: center; } }

@media screen and (max-width: 768px) {
  .burger__content-elem-left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 30px; } }

.burger__content-elem--text {
  font-family: 'Ubuntu';
  font-size: 15px;
  color: #fcede1;
  padding-top: 50px; }
  @media screen and (max-width: 768px) {
    .burger__content-elem--text {
      padding-top: 30px;
      font-size: 13px; } }

.burger__content-elem--price {
  font-family: 'Gagalin';
  font-size: 30px;
  color: #e35028;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 75%; }
  @media screen and (max-width: 768px) {
    .burger__content-elem--price {
      padding-top: 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-bottom: 20px; } }

.burger__image-pic {
  width: 100%; }

@media screen and (max-width: 768px) {
  .burger__image {
    margin-top: 115px; } }

@media screen and (max-width: 480px) {
  .burger__image {
    width: 50%; } }

.price {
  font-family: 'Gagalin';
  font-size: 72px;
  color: #e35028;
  height: 80%;
  margin-right: 10px; }
  @media screen and (max-width: 480px) {
    .price {
      font-size: 50px; } }

.burger-link {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  margin-left: 10px; }

.burger-link:hover {
  background-color: #cb411b; }

.burger__content-elem--dropdown {
  background: rgba(255, 255, 255, 0.9);
  display: none;
  border-radius: 5px;
  position: absolute;
  left: 90px;
  top: 0; }

.content__image-top:hover {
  background: #e07210; }

.content__image-top:hover .burger__content-elem--dropdown {
  display: block; }

.dropdown__list-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.dropdown__icon {
  width: 45px;
  height: 45px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px; }

.dropdown__text-desc {
  font-family: 'Ubuntu';
  font-size: 14px;
  padding-left: 25px;
  padding-top: 20px;
  width: 60px; }

.dropdown__text-weight {
  font-family: 'Ubuntu';
  font-size: 14px;
  padding-left: 65px;
  padding-top: 10px;
  padding-right: 20px; }

.wrap__burger {
  position: relative; }
  @media screen and (max-width: 768px) {
    .wrap__burger {
      width: 30%; } }

.wrap__burger:hover .burger__content-elem--dropdown {
  display: block; }

.content__icon-text--number {
  font-family: 'Gagalin';
  color: #ffffff;
  position: relative;
  top: -64%;
  text-align: center; }

.burger-slider__elem {
  display: none; }

.burger-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  left: 0; }

.active {
  display: block; }

.slider__img {
  overflow: hidden; }

.team {
  background: url("../img/background fourth.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }

.section__title-team {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 60px; }
  @media screen and (max-width: 768px) {
    .section__title-team {
      padding-top: 0;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .section__title-team {
      font-size: 50px; } }

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93);
  padding-left: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 3.125rem; }
  @media screen and (max-width: 768px) {
    .team__container {
      width: 100%;
      padding-left: 0; } }
  @media screen and (max-width: 480px) {
    .team__container {
      padding-left: 0;
      padding-top: 1.125rem; } }

.team-accordeon_trigger {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  font-family: "Gagalin";
  font-size: 14px;
  padding-bottom: 15px;
  padding-top: 15px; }
  @media screen and (max-width: 768px) {
    .team-accordeon_trigger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.team-accordeon__content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .team-accordeon__content {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.team-accordeon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.team-accordeon__pic-image {
  width: 100%;
  height: 100%; }

.team-accordeon__pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 99px;
  flex: 0 0 99px; }

.team-accordeon__text {
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 14px;
  width: 30%;
  margin-left: 24px; }
  @media screen and (max-width: 768px) {
    .team-accordeon__text {
      margin: 0 auto;
      width: 100%; } }

.accordeon__text-content {
  margin: 0;
  padding-top: 15px; }

.team-accordeon__item-active .team-accordeon_trigger {
  color: #ffffff; }

@media screen and (max-width: 768px) {
  .team-accordeon__item {
    text-align: center; } }

.team-accordeon__text-title {
  font-weight: bold;
  padding-top: 10px; }

.team-accordeon__content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 768px) {
    .team-accordeon__content-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.team-accordeon_trigger--figure {
  height: 0;
  width: 0;
  border: 9px solid transparent;
  border-top-color: #f8b43a;
  border-bottom-width: 0px;
  content: "";
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  margin-right: 5px; }

.menu {
  background-image: url("../img/background fifth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative; }

.section__title--menu {
  position: absolute;
  left: 4%;
  color: #ffffff;
  font-family: 'Gagalin';
  font-size: 72px; }
  @media screen and (max-width: 480px) {
    .section__title--menu {
      font-size: 50px; } }

.menu__list {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__trigger {
  width: 4.75rem;
  background-repeat: no-repeat;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .menu__trigger {
      width: 3.85rem; } }

.menu__trigger--first {
  background-image: url("../img/menu accordeon fisrt.jpg");
  position: relative;
  text-decoration: none; }

.menu__trigger--second {
  background-image: url("../img/menu accordeon second.jpg");
  position: relative;
  text-decoration: none; }

.menu__trigger--third {
  background-image: url("../img/menu accordeon third.jpg");
  position: relative;
  text-decoration: none; }

.menu__trigger--text {
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-family: 'Gagalin';
  font-size: 2.5rem;
  width: 4rem;
  top: 60%;
  white-space: nowrap; }
  @media screen and (max-width: 768px) {
    .menu__trigger--text {
      top: 83%; } }
  @media screen and (max-width: 480px) {
    .menu__trigger--text {
      font-size: 1.5rem; } }

.menu__item--active .menu__content {
  display: none;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .menu__item--active .menu__content {
      display: none; } }

.menu__content {
  background: rgba(47, 50, 52, 0.93);
  padding: 3.75rem 2.1875rem;
  display: none; }
  @media screen and (max-width: 480px) {
    .menu__content {
      width: 78% !important; } }

.menu__content-text {
  width: 100%;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 200;
  line-height: 1.5rem; }
  @media screen and (max-width: 480px) {
    .menu__content-text {
      font-size: 0.75rem; } }

.reviews__list {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  -webkit-filter: grayscale(100);
  filter: grayscale(100); }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }
  .reviews__item:hover .reviews__hover {
    opacity: 1; }

.reviews__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(69, 69, 69, 0.7);
  opacity: 0;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
  padding: 17% 7%; }
  @media screen and (max-width: 768px) {
    .reviews__hover {
      padding: 0; } }
  @media screen and (max-width: 480px) {
    .reviews__hover {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.reviews__hover--title {
  color: #ffffff;
  font-family: 'Gagalin';
  font-size: 0.875rem; }
  @media screen and (max-width: 768px) {
    .reviews__hover--title {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .reviews__hover--title {
      font-size: 22px;
      margin: 0; } }

.reviews__hover--text {
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  font-weight: 300;
  color: #ffffff; }
  @media screen and (max-width: 768px) {
    .reviews__hover--text {
      text-align: center;
      font-size: 11px; } }
  @media screen and (max-width: 480px) {
    .reviews__hover--text {
      text-align: center;
      display: none; } }

.reviews__hover--btn-text {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 5px;
  background-color: #2f3234;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  @media screen and (max-width: 480px) {
    .reviews__hover--btn-text {
      display: none; } }

.reviews__hover--btn-text:hover {
  background-color: #1f2122; }

@media screen and (max-width: 768px) {
  .reviews__hover--btn {
    text-align: center; } }

@media screen and (max-width: 480px) {
  .reviews__hover--btn {
    text-align: center; } }

.reviews__hover--btn-text-phones {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 5px;
  background-color: #2f3234;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: none;
  width: 135px;
  margin-top: 10px; }
  @media screen and (max-width: 480px) {
    .reviews__hover--btn-text-phones {
      display: inline-block; } }

.reviews__hover--btn-text-phones:hover {
  background-color: #1f2122; }

.reviews-overlay {
  min-width: 320px;
  position: absolute;
  background: #2f3234;
  top: 0;
  width: 100%;
  -webkit-transition: opacity .35s, height .35s;
  -o-transition: opacity .35s, height .35s;
  transition: opacity .35s, height .35s;
  visibility: hidden;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.reviews-overlay__wrap {
  background-color: #ffffff;
  height: auto;
  max-width: 90%;
  border-radius: 3px;
  background-color: #fff;
  width: 28.75rem;
  position: absolute; }

.reviews-overlay-active {
  opacity: .99;
  visibility: visible;
  height: 100%; }

.reviews-overlay--title {
  font-family: 'Gagalin';
  font-size: 14px;
  color: #2f3234;
  margin-left: 10px; }

.reviews-overlay--text {
  font-family: 'Ubuntu';
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px; }

.reviews-overlay-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 97%; }

.reviews-overlay-btn {
  cursor: pointer; }

.order {
  background-image: url("../img/background sixth.jpg");
  background-size: cover;
  background-position: center bottom; }

@media screen and (max-width: 480px) {
  .form {
    width: 125%; } }

.form__block-title {
  color: #ffffff;
  margin-bottom: 0.3125rem;
  font-size: 0.875rem;
  margin-top: 0.3rem; }
  @media screen and (max-width: 480px) {
    .form__block-title {
      font-size: 0.675rem; } }

.form__content {
  width: 50%;
  padding: 0 10px 0 10px; }
  @media screen and (max-width: 768px) {
    .form__content {
      width: 100%;
      padding: 0 12%; } }

.form__input {
  border: none;
  border-radius: 5px;
  padding: 0.3125rem;
  width: 100%; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 768px) {
    .form__row {
      margin: 0; } }

.form__block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form__elem {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.form__radio {
  margin-right: 1.25rem; }
  @media screen and (max-width: 768px) {
    .form__radio {
      margin-right: 0.25rem; } }

.form__textarea {
  border-radius: 5px;
  height: 6.875rem;
  width: 100%;
  border: none;
  resize: none; }
  @media screen and (max-width: 480px) {
    .form__textarea {
      height: 6.4rem; } }

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.form__controls {
  margin-top: 0.625rem; }

.form__controls-elem {
  margin-right: 1.25rem; }

.form__radio-text {
  color: #eaeaea;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Ubuntu';
  font-size: 0.875rem; }
  @media screen and (max-width: 480px) {
    .form__radio-text {
      font-size: 0.675rem; } }

.order-link-clean {
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42; }

@media screen and (max-width: 480px) {
  .section__title {
    text-align: center; } }

.section__title--order {
  padding-top: 50px;
  font-family: 'Gagalin';
  font-size: 72px;
  color: #f8b43a;
  padding-top: 50px;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .section__title--order {
      padding-top: 0;
      font-size: 45px;
      padding-top: 0; } }

.form__radio-elem {
  display: none; }

.form__radio-fake {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #cbcbcb;
  position: relative;
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #efefef 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#efefef));
  background: -o-linear-gradient(top, #fdfdfd 0%, #efefef 100%);
  background: linear-gradient(to bottom, #fdfdfd 0%, #efefef 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.form__radio-fake::after {
  content: "";
  width: 9px;
  height: 9px;
  background: #e35028;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  opacity: 0; }

.form__radio-elem:checked + .form__radio-fake::after {
  opacity: 1; }

.form__radio-elem-check {
  display: none; }

.form__radio-check-fake {
  width: 12px;
  height: 12px;
  display: inline-block;
  position: relative;
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #efefef 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#efefef));
  background: -o-linear-gradient(top, #fdfdfd 0%, #efefef 100%);
  background: linear-gradient(to bottom, #fdfdfd 0%, #efefef 100%); }

.form__radio-check-fake::after {
  content: "";
  position: absolute;
  left: 0.0625rem;
  background: url("../img/w128h1281338911632checkmark2.png") no-repeat;
  background-size: cover;
  width: 11px;
  height: 9px;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.form__radio-elem-check:checked + .form__radio-check-fake::after {
  opacity: 1; }

.mape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.mape-image {
  height: 85%; }

.footer {
  background-image: url("../img/footer.jpg");
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover; }

.footer__img {
  width: 100%;
  height: 3.6875rem; }

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .footer-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer__text {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #ffffff;
  font-size: 0.875rem;
  margin: 0;
  padding-left: 5.125rem;
  padding-top: 0.625rem;
  width: 80%; }
  @media screen and (max-width: 768px) {
    .footer__text {
      width: 70%; } }
  @media screen and (max-width: 480px) {
    .footer__text {
      width: 100%;
      text-align: center;
      padding: 5px 0; } }

.social-media {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media screen and (max-width: 480px) {
    .social-media {
      text-align: center; } }

.phone__icon {
  width: 1.4375rem;
  height: 0.9375rem; }

.phone__icon--svg {
  fill: #e45028; }

.phone-number {
  color: #e45028;
  font-size: 0.875rem;
  font-weight: bold;
  padding-top: 0.75rem;
  padding-bottom: 0.625rem; }
  @media screen and (max-width: 480px) {
    .phone-number {
      padding: 0;
      padding-top: 5px; } }

.social-media__icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
  margin-top: 1.5625rem; }
  @media screen and (max-width: 480px) {
    .social-media__icon {
      margin: 0 auto;
      margin-right: 10px; } }

.social-media__icon--svg {
  fill: #5a5a5a; }

.social-media__icon--svg:hover {
  fill: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
