.best {
    background-image: url("../img/background second.jpg");
    background-position: center bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__title--best {
    color: $dark;
    padding: 0;
    margin-bottom: rem(60px);
    font-family: 'Gagalin';
    font-size: 72px;
    font-weight: 400;
    line-height: 1.42;
    margin: 0;
    padding-top: 0;
  }
.best-list {
    display: flex;
    margin-top: rem(91px);
  }
.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.best-list__title {
    font-family: 'Lifehack';
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.best-list__text {
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 300;
    line-height: 1.42;
    color: #828180;
    text-align: center;
}
.container {
    margin-bottom: rem(90px);
}
.best-list__elem {
    text-align: center;
}
.icon-meat {
    width: rem(100px);
    height: rem(100px);
    justify-content: center;
    fill: #e25028;
}
.icon-hand{
    width: rem(100px);
    height: rem(100px);
    fill: #f8b845;
}
.icon-natural{
    width: rem(100px);
    height: rem(100px);
    fill:#8ac03e;
}
best-list{
    flex: 1 1 33%;
}
.best-list__item {
    width: 33%;
}