.burger-section {
    background-image: url("../img/background third.jpg");
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger__container{
    width: 80%;
}
.burger__content{
    display: flex;
}
.arrow__link{
    position: static;
    align-items: center;
}
.arrow-scroll{
    fill: #ffffff;
}
.arrow__link-icon--left {
    width: 26px;
    height: 33px;
    transform: rotate(90deg);
}
.arrow__link-icon--right {
    width: 26px;
    height: 33px;
    transform: rotate(270deg);
}
.burger__content-elem{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 50%;
}

.content__image {
    width: 90px;
    height: 90px;
    border-radius: 5px;
}
.content__image-top{
    background-color: #f08c33;
}
.content__icon{
    height: 65px;
    fill: #ffffff;
    width: 100%;
    padding-top: 10px;
}
.content__icon-text{
    font-family: 'Gagalin';
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}
.burger__content-elem--title{
    font-family:'Gagalin';
    color: #ffffff;
    font-size: 72px;
    line-height: 1;
}
.burger__content-elem-right{
    width: 40%;
}
.burger__content-elem--text{
    font-family: 'Ubuntu';
    font-size: 15px;
    color: #fcede1;
    padding-top: 50px;
}
.burger__content-elem--price{
    font-family: 'Gagalin';
    font-size: 30px;
    color:#e35028;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 75%; 
}
.price{
    font-family: 'Gagalin';
    font-size: 72px;
    color:#e35028;
    height: 80%;
}
.burger-link {
    min-width: 6.125rem;
    padding: 0.625rem 1.0625rem;
    border-radius: 5px;
    background-color: #e25028;
    color: #fff;
    text-decoration: none;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .order-link:hover {
      background-color: #cb411b; }
  
.burger__content-elem--dropdown{
    background: rgba(255, 255, 255, 0.9);
    display: none;
    border-radius: 5px;
    position: absolute;
    left: 16.6%;
}
.content__image-top:hover{
    background: #e07210;
}
.content__image-top:hover .burger__content-elem--dropdown{
    display: block;
}
.dropdown__list-elem{
    display: flex;
    flex-direction: row;
}
.dropdown__icon{
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.dropdown__text-desc {
    font-family: 'Ubuntu';
    font-size: 14px;
    padding-left: 25px;
    padding-top: 20px;
    width: 60px;
}
.dropdown__text-weight{
    font-family: 'Ubuntu';
    font-size: 14px;
    padding-left: 65px;
    padding-top: 10px;
    padding-right: 20px;
}