.burger-section {
    background-image: url("../img/background third.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow{
    justify-content: flex-start;

}


