.footer {
    background-image: url('../img/footer.jpg');
    width: 100%;
    display: flex;
    background-size: cover;
}
.footer__img{
    width: 100%;
    height: rem(59px);
}
.footer-content{
    display: flex;
    width: 100%;
}
.footer__text{
    justify-content: flex-start;
    color: #ffffff;
    font-size: rem(14px);
    margin: 0;
    padding-left: rem(82px);
    padding-top: rem(10px);
    width: 83%;
    @include tablets {
        width: 70%;
    }
    @include phones {
        width: 60%;
    }
}
.social-media {
    justify-content: flex-end;
    
}
.phone__icon {
    width: rem(23px);
    height: rem(15px);
}
.phone__icon--svg {
    fill: #e45028;
}
.phone-number{
    color: #e45028;
    font-size: rem(14px);
    font-weight: bold;
    padding-top: rem(12px);
    padding-bottom: rem(10px);
}
.social-media__icon {
    width: rem(24px);
    height: rem(24px);
    margin-right: rem(10px);
    margin-top: rem(25px);
}
.social-media__icon--svg {
    fill: #5a5a5a;
}
.social-media__icon--svg:hover {
    fill: #ffffff;
    transition: 0.5s;
}