.footer {
    background-image: url('../img/footer.jpg');
    width: 100%;
    display: flex;
    background-size: cover;
    height:15%;
}
.footer__img{
    width: 100%;
    height: rem(59px);
}
.footer-content{
    display: flex;
    width: 100%;
    @include phones {
        flex-direction: column;
    }
}
.footer__text{
    justify-content: flex-start;
    color: #ffffff;
    font-size: rem(14px);
    margin: 0;
    padding-left: rem(82px);
    padding-top: rem(10px);
    width: 80%;
    @include tablets {
        width: 70%;
    }
    @include phones {
        width: 100%;
        text-align: center;
        padding:5px 0;
    }
}
.social-media {
    justify-content: flex-end;
    @include phones {
        text-align: center;
    }
    
}
.phone__icon {
    width: rem(23px);
    height: rem(15px);
}
.phone__icon--svg {
    fill: #e45028;
}
.phone-number{
    color: #e45028;
    font-size: rem(14px);
    font-weight: bold;
    padding-top: rem(12px);
    padding-bottom: rem(10px);
    @include phones {
        padding:0;
        padding-top: 5px;
    }
}
.social-media__icon {
    width: rem(20px);
    height: rem(20px);
    margin-right: 0.5rem;
    margin-top: rem(25px);
    @include phones {
        margin: 0 auto;
        margin-right: 10px;
    }
}
.social-media__icon--svg {
    fill: #5a5a5a;
}
.social-media__icon--svg:hover {
    fill: #ffffff;
    transition: 0.5s;
}