.hero {
    background-image: url("../img/background first.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
  }
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(10px);
    padding-left: rem(10px);
  }

  
  .header__logo {
    margin-right: auto;
  }
  .nav {
    margin-right: rem(15px);
  }
  .nav__list {
    margin: 0;
    padding: 0;
    @include tablets {
      display: none;
    }
  }
  .nav__item {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    &:after {
      display: inline-block;
      vertical-align: middle;
      content: ' ';
      @include circle(5px, #fff);
      margin: 0 rem(12px);
    }
    &:last-child:after {
      display: none;
    }
  }
  .nav__link {
    color: #ffffff;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    transition: .5s;
    &:hover {
      text-decoration: underline;
    }
  }
  .header__btn {
    display: flex;
    @include tablets{
      margin-right: 40px;
    }
    @include phones{
      margin-right: 40px;
    }
  }
  .hamburger__menu-link {
    background-repeat: no-repeat;
    width: 24px;
    height: 26px;
    display: none;
    padding-left: 20px;
    margin-top: 5px;

    @include tablets{
      display: flex;
    }
  }
  .hero__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    @include tablets{
      flex-direction: column;
      align-items: center;
    }
  }
.hero__description {
    width: 50%;
  }
  .hero__img {
    flex-shrink: 0;
    flex-grow: 0;
    width: 350px;
    object-fit: contain;
    @include tablets {
      flex-shrink: 0;
      flex-grow: 0;
      height: 50%;
    }
    @include phones {
      padding-left: 0;
      display: inline-block;
      width:70%;
      
  }
}
  
  .hero__description {
    flex-direction: column;
    justify-content: center;
    
    @include tablets {
      padding-top: 0;
      text-align: center;
      width: 100%;
    }
    @include phones {
      text-align: center;
      width: 100%;
  }
  }
  .section__title--hero {
    color: #f9b43b;
    font-family: 'Gagalin';
    font-size: rem(72px);
    font-weight: 400;
    line-height: 1.42;
    margin: 0;
    padding-top: rem(60px);
    @include tablets {
      padding-top: 0;
    }
    @include phones {
      padding-left: 12px;
      white-space: nowrap;
      font-size: 3.5rem;
  }
  }
  
  .hero__description-text {
    color: #ffffff;
    font-family: 'Lifehack';
    font-size: rem(65px);
    font-weight: 500;
    line-height: 1;
    @include phones{
     font-size: 3.0625rem; 
    }
  }
  .fixed-menu {
    position: fixed;
    top: rem(90px);
    right: rem(40px);
  
    @include tablets {
      display: none;
    }
  }
  
  .fixed-menu__link {
    width: rem(16px);
    height: rem(16px);
    display: block;
    position: relative;
  
    &:after, &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }
  
    &:after {
      width: rem(6px);
      height: rem(6px);
      background: #fff;
    }
  
    &:before {
      width: rem(0px);
      height: rem(0px);
      border-radius: 50%;
      border: rem(1px) solid #fff;
      opacity: 0;
      transition: .3s;
    }
  
    &:hover {
      &:before {
        width: rem(14px);
        height: rem(14px);
        opacity: 1;
      }
    }
  }
  
  .fixed-menu__item {
    &.active {
      .fixed-menu__link {
        &:before {
          width: rem(14px);
          height: rem(14px);
          opacity: 1;
        }
      }
    }
  }
  
  .fixed-menu__item {
    margin-bottom: rem(5px);
  }