.mape {
    background-image: url('../img/map-marker.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-position: 50% 50%;
    height: 90%;
    @include phones{
        height: 85%;
    }
}