.menu {
    background-image: url('../img/background fifth.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
}
.section__title--menu{
    position: absolute;
    left: 4%;
    top: 5%;
    color: #ffffff;
}
.menu__list {
    position: absolute;
    right: 0;
    top:0;
    bottom: 0;
    display: flex;
}
.menu__item{
    display: flex;
}
.menu__trigger {
    width: 5rem;
    background-repeat: no-repeat;
    color: #ffffff;
    display: flex;
}
.menu__trigger--first {
    background-image: url('../img/menu accordeon fisrt.jpg');
    position: relative;
    text-decoration: none;
}
.menu__trigger--second{
    background-image: url('../img/menu accordeon second.jpg');
    position: relative;
    text-decoration: none;
}
.menu__trigger--third{
    background-image: url('../img/menu accordeon third.jpg');
    position: relative;
    text-decoration: none;
}
.menu__trigger--text{
    position: absolute;
    transform: rotate(-90deg);
    font-family: 'Gagalin';
    font-size: rem(40px);
    width: 5rem;
    top:60%;
    white-space: nowrap;
    @include tablets {
        top:83%;
    }
}

.menu__item--active .menu__content {
    display: block;
    width: 31.25rem;
    @include tablets {
        display: none;
    }
}
.menu__content {
    background: rgba(47, 50,52, 0.93);
    padding: rem(60px)rem(35px);
    display: none;
}
.menu__content-text {
    width: 100%;
    color: #ffffff;
    font-size: rem(14px);
    font-weight: 200;
    line-height: rem(24px);
}






