.menu {
    background-image: url('../img/background fifth.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
}
.section__title--menu{
    position: absolute;
    left: 4%;
    color: #ffffff;
    font-family: 'Gagalin';
    font-size: 72px;

    @include phones{
    font-size: 50px; 
    }
}
.menu__list {
    position: absolute;
    right: 0;
    top:0;
    bottom: 0;
    display: flex;
}
.menu__item{
    display: flex;
}
.menu__trigger {
    width: 4.75rem;
    background-repeat: no-repeat;
    color: #ffffff;
    display: flex;
    @include phones{
    width: 3.85rem; 
    }
}
.menu__trigger--first {
    background-image: url('../img/menu accordeon fisrt.jpg');
    position: relative;
    text-decoration: none;
}
.menu__trigger--second{
    background-image: url('../img/menu accordeon second.jpg');
    position: relative;
    text-decoration: none;
}
.menu__trigger--third{
    background-image: url('../img/menu accordeon third.jpg');
    position: relative;
    text-decoration: none;
}
.menu__trigger--text{
    position: absolute;
    transform: rotate(-90deg);
    font-family: 'Gagalin';
    font-size: rem(40px);
    width: 4rem;
    top:60%;
    white-space: nowrap;
    @include tablets {
        top:83%;
    }
    @include phones{
        font-size: 1.5rem;
    }
}

.menu__item--active .menu__content {
    display: none;
    width: 100%;
    @include tablets {
        display: none;
    }
}
.menu__content {
    background: rgba(47, 50,52, 0.93);
    padding: rem(60px)rem(35px);
    display: none;
    @include phones{
        width: 78% !important;
    }
}
.menu__content-text {
    width: 100%;
    color: #ffffff;
    font-size: rem(14px);
    font-weight: 200;
    line-height: rem(24px);
    @include phones{
        font-size: 0.75rem;
    }
}





