.reviews__list{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.reviews__item{
    width: 25%;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    @include tablets {
        width: 50%;
        height: 25%;
    }
    filter: grayscale(100);
    &:hover {
        .reviews__hover{
            opacity: 1;
        }
    }
}
.reviews__hover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(#454545,.7);
    opacity: 0;
    transition: opacity .5s;
    padding: 17% 7%;
    @include tablets {
        padding: 0;
    }
    @include phones {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
}
.reviews__hover--title {
    color: #ffffff;
    font-family: 'Gagalin';
    font-size: rem(14px);
    @include tablets {
    text-align: center;
    }
    @include phones {
    font-size: 22px;
    margin: 0;
    }
}
.reviews__hover--text {
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    color: #ffffff;
    @include tablets {
        text-align: center;
        font-size: 11px;
    }
    @include phones {
        text-align: center;
        display: none;
    }
}

.reviews__hover--btn-text {
    min-width: 6.125rem;
    padding: rem(10px) rem(17px);
    border-radius: 5px;
    background-color: #2f3234;
    color: #fff;
    text-decoration: none;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; 
    @include phones {
    display: none;
    }
}
    .reviews__hover--btn-text:hover {
      background-color: #1f2122; }
    
     
      .reviews__hover--btn{
    @include tablets {
        text-align: center;
    }
    @include phones {
      text-align: center;  
    }
}
.reviews__hover--btn-text-phones{
    min-width: 6.125rem;
    padding: rem(10px) rem(17px);
    border-radius: 5px;
    background-color: #2f3234;
    color: #fff;
    text-decoration: none;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    display: none;
    width: 135px;
    margin-top: 10px;
    @include phones {
        display: inline-block;
        }
    }
    .reviews__hover--btn-text-phones:hover {
      background-color: #1f2122; 
    }
.reviews-overlay{
    
    position: absolute;
    background: #2f3234;
    top: 0;
    width: 100%;
    transition: opacity .35s, height .35s;
    visibility: hidden;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviews-overlay__wrap{
    background-color: #ffffff;
    height: auto;
    max-width: 90%;
    border-radius: 3px;
    background-color: #fff;
    width: 28.75rem;
    position: absolute;
    
}
.reviews-overlay-active{
    opacity: .99;
    visibility: visible;
    height: 100%;
}
.reviews-overlay--title{
    font-family: 'Gagalin';
    font-size: 14px;
    color: #2f3234;
    margin-left: 10px;
    
}
.reviews-overlay--text{
    font-family: 'Ubuntu';
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}
.reviews-overlay-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
}
.reviews-overlay-btn{
    cursor: pointer;
}