.reviews__list{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.reviews__item{
    width: 25%;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    filter: grayscale(100);
    &:hover {
        .reviews__hover{
            opacity: 1;
        }
    }
}
.reviews__hover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(#454545,.7);
    opacity: 0;
    transition: opacity .5s;
    padding: 17% 7%;
}
.reviews__hover--title {
    color: #ffffff;
    font-family: 'Gagalin';
    font-size: rem(14px);
}
.reviews__hover--text {
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    color: #ffffff;
}

.reviews__hover--btn-text {
    min-width: 6.125rem;
    padding: rem(10px) rem(17px);
    border-radius: 5px;
    background-color: #2f3234;
    color: #fff;
    text-decoration: none;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .reviews__hover--btn-text:hover {
      background-color: #1f2122; }
  