.team {
    background: url("../img/background fourth.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
}
.section__title-team{
    color: #f9b43b;
    font-family: 'Gagalin';
    font-size: 72px;
    font-weight: 400;
    line-height: 1.42;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 60px;
    @include tablets {
        padding-top: 0;
      }
  }
  .team__container {
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    width: 50%;
    background: rgba( #2f3234, .93);
    padding-left: rem(70px);
    display: flex;
    flex-direction: column;
    padding-top: rem(50px);
    @include tablets {
        width: 100%;
      }
  }
  .team-accordeon_trigger {
      color: #ffffff;
      display: flex;
      align-items: center;
      text-decoration: none;
      font-family: "Gagalin";
      font-size: 14px;
      padding-bottom: 36px;
     
    &:before {
        height: 0;
        width: 0;
        border: 9px solid transparent;
        border-top-color: $yellow;
        border-bottom-width: 0px;
        content:"";
        transition: 0.5s;
    }

  }

.team-accordeon__content{
    display: flex;
    flex-direction: row;
    display: none;
}
.team-accordeon{
    display: flex;
    flex-direction: column;
}
.team-accordeon__pic{
    border-radius: 50%;
    width: rem(99px);
    height: rem(99px);
    overflow: hidden;
}
.team-accordeon__text {
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: 14px;
    width: 30%;
    margin-left: 24px;
}
.accordeon__text-content{
    margin: 0;
    padding-top: 15px;
}
.team-accordeon__item-active{
    .team-accordeon_trigger {
        color: $yellow;

        &:before {
            transform: rotate(-180deg);
        }
    
    }
.team-accordeon__content{
    display: flex;
}   
}
.team-accordeon__item {
    @include tablets {
        text-align: center;
        display: inline-block;
      }
}

